/*color varibles*/
//colores principales
$dev-lighter: rgb(245, 245, 245);
$dev: rgb(59, 73, 223);
$dev-transparent: rgba(59, 73, 223,0.1);
$dev-darker: rgb(47, 58, 178);
$dev-gray: rgb(229,229,229);
$black: #3d3d3d;
$dev-gray:rgb(229,229,229);
$forem:#E5E5E5;

//colores de botones//
$purple: #6f008b;
$purple-ligth: rgba(111, 0, 139, 0.10);
$marron:#890606;
$marron-ligth:rgba(137, 6, 6, 0.10);
$yelllow: #f7df1e;
$yellow-ligth: rgba(247, 223, 30, 0.10);
$indigo: #2A0798;
$indigo-ligth:rgba(42, 7, 152, 0.10);
$red: #f22e07;
$red-ligth:rgba(242, 46, 7, 0.10);
$dark-green:#008335;
$dark-green-ligth:rgba(0, 131, 53, 0.10);
$gray: #212b3a;
$gray-ligth: rgba(33, 43, 58, 0.10);
$cyan:#D0ECFF;
$cyan-ligth:rgba(208, 236, 255, 0.10);
$blue-dark:#3b49df;
$blue-dark-ligth:rgba(59, 73, 223, 0.10);
$orange: #FF9900;
$orange-ligth:rgba(255, 153, 0, 0.10);
$ligth-green: rgba(26, 214, 67, 0.10);
$green:#1ad643;

//asignación de variables
$primary:   $dev;
$secondary: $dev-darker;
$light: $dev-lighter;

// variables fonts Devto 2022
$ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$ff-comic: 'Comic Sans MS', cursive, sans-serif;
$ff-dyslexic: OpenDyslexic, sans-serif;
//font size//
$xs:0.75rem;
$s: 0.875rem ;
$b:1rem;
$l:1.125rem;
$xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.875rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3rem;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 800;
$lh:1.25rem;
$lh-base:1.5rem;

/*globales*/
body{
    background: rgb(245, 245, 245);
    color:rgb(23,23,23)
  }

.header-default{
  padding-top: 56px;
  min-height: calc(100vh - 56px);
}
.radius-full{
  border-radius: 9999px !important
}
  .fm-medium{
    font-weight: 500;
  }

a{
  text-decoration: none;
  color: $dev;
}
.dev-avatar{
  display: inline-block;
  border-radius: 100%;

  position: relative;
  background-color: rgb(82, 82, 82);
  overflow: hidden;
  vertical-align: middle;
  flex-shrink: 0;
  &__l{
    width: 2rem;
    height: 2rem;
  }
  &__image{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
}
.title{
  &__second{
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;    
  }
  &__third{
    font-size: 1rem;
  }
  &__ss{
    font-family: $ff-monospace;
    font-size: 1rem;
  }
}
.center{
  text-align: center;
}
.mb-none{
  margin-bottom: 0;
}
.fs{
  &__xs{
    font-size: $xs;
  }
  &__b{
    font-size: $b;
  }
  &__l{
    font-size: $l;
  }
  &__xl{
    font-size: $xl;
  }
}
  

.nav-dev-links{
  list-style: none;
  margin: 0; 
  padding: 0;
}
  
/*links*/
.dev-link{
  border: 0;
  border-radius: 0.375rem;
  font: inherit;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  color: rgb(64, 64, 64);
  max-width: 100%;
  &__icon-alone{
    padding: 0.5rem;
    display: inline-block;
  }
  &__block{
    display: flex;
    padding: 0.5rem 0.5rem;
    overflow-wrap: normal;
    background-color: transparent;
  }
  &__on{
    
    color: rgb(64,64,64);
    text-decoration: none;
    &--orange{
      span{
        color:$orange;
      }
      &:hover{
        background: $orange-ligth;
        color:$orange;
        border: 1px solid $orange;
      }
    }
    &--green{
      margin-right: 1rem;
      span{
        color:$green;
      }
      &:hover{
        background: $ligth-green;
        color:$green;
        border: 1px solid $green;
      }
    }
    &--red{
      span{
        color:$red;
      }
      &:hover{
        background: $red-ligth;
        color:$red;
        border: 1px solid $red;
      }
    }
    &--marron{
      span{
        color:$marron;
      }
      &:hover{
        background: $marron-ligth;
        color:$marron;
        border: 1px solid $marron;
      }
    }
    &--purple{
      span{
        color:$purple;
      }
      &:hover{
        background: $purple-ligth;
        color:$purple;
        border: 1px solid $purple;
      }
    }
    &--cyan{
      span{
        color:$cyan;
      }
      &:hover{
        background: $cyan-ligth;
        color:$cyan;
        border: 1px solid $cyan;
      }
    }
  }
  &:hover{
    border-style: hidden;
    color: rgb(47,58,178);
    background-color: rgba(59,73,233,0.1);
    text-decoration: underline;
    max-width: 100%;
  }
  &__on-right{
    padding: 0 0 1rem 0;
    a{
      color: rgb(64,64,64);
      text-decoration: none;
      margin: 1rem 0;
    &:hover{
      color: rgb(47,58,178);
    }
    }
    &:hover{
      background: white;
    }
    span.comments{
      display: block;
      color: #717171;
      font-size: 0.875rem;
    }
  }
  &__new{
    display: inline;
    padding: 0 0.2rem;
    background: rgb(252,211,77);
    color: rgb(120,53,15);
    border-radius: 0.5rem;
  }
  &__separate{
    li{
      margin: 0.5rem 0;
    }
  }
}
  
.dev-icon{
  fill: currentColor;
  &__on{
    color: rgb(64,64,64);
    text-decoration: none;
  }
  &:hover{
    color: rgb(47,58,178);
    //background-color: rgba(59,73,233,0.1);    
    max-width: 100%;
  }
  &__aside{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display:block;
    --center{
      text-align: center;
    }
    &--red{
      color: $black;
      &:hover{
        color: $black;
      background-color: $red-ligth; 
      }
    }
    &--green{
      color: $black;      
      &:hover{
        color: $green;
        background-color: $ligth-green; 
      }
    }
    &--blue{
      color: $black;      
      &:hover{
        color: $blue-dark;
        background-color: $blue-dark-ligth; 
      }
    }
    &--black{
      color: $black;      
      &:hover{
        color: $black;
        background-color: $gray-ligth;  
      }
    }
  }
}

.dev-btn{
  background: transparent;
  border: 0;
  &:hover{
    background: rgba(59, 73, 223, 0.10);
  }
  &__gray{
    border-style: none;
    background: #d6d6d7;
    &:hover{
      background: #bdbdbd;
    }
  }
}

/* cards */
.dev-aside{
  &__card-secondary{
    background: rgb(250,250,250);
    border: 1px solid rgba(22,23,23,0.05);
    margin-bottom: 1rem;
  }
  &__card-header{
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 0.25rem;
    }
  }
  &__card-body{
    padding: 1rem;
  }
  &__image{
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
  }  
}
  
/*main*/
.dev-main{
  background: white; 
  border: 1px solid rgba(23,23,23,0.1); 
  &__card-secondary{
    background: rgb(250,250,250);
    border: 1px solid rgba(22,23,23,0.05);
    padding: 2rem;
  }
  &__image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }
}
.devpost-avatar{
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: relative;
  border-radius: 100%;
  background-color: rgb(82, 82, 82);
  overflow: hidden;
  vertical-align: middle;
  flex-shrink: 0;
  &__image{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
}

.devpost-story{
  background: white;
  margin: 0 0 0.5rem;
  &__cover{
    position: relative;
    
    &__image__feed{
      padding: 0;
      height: 100%;
      width: 100%;
      aspect-ratio: auto 650 / 275;
      object-fit: cover;
    }  
  }
  &__body{
    padding: 1.25rem;
  }
  &__top{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__meta{
    display: flex;
    align-items: center;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
  &__author-pic{
    position: relative;
    margin-right: 0.5rem;
  }
  &__secundary{
    color: rgb(64,64,64);
  }
  &__title{
    margin-bottom: 0.25rem;
    color: 23,23,23;
    line-height: 1.25;
    word-break: break-word;
    a{
      color: inherit;
      display: block;
      &:hover{
        color: $dev;
      }
    }

  }
  &__tags{
    margin-bottom: 0.5rem;
    margin-left: calc(0.25rem * -1);
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    color: #3d3d3d;
  }
  &__bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &__details{
    display: flex;
    margin-left: calc(0.5remm * -1);
  }
} 
.devpost-tag{
  background: transparent;
  color:rgb(64,64,64);
  border-radius: 0.375rem;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: clamp(0.25rem, 0.25rem,0.5rem) 0.5rem;

} 

/*footer*/
.editor-toolbar{
  position: relative !important;
  display: flex;
}

.dev-footer{
  background: $dev-gray;
  font-size: $s;  
}



//form
.form-content__alert{
  background: rgba(220,38,38, 0.1);
  margin-bottom: 1.5rem !important;
  border-radius:0.358rem;
  padding: 1rem ;
  padding-bottom: .25rem;
  h3{
    font-size: $xl;
    color:maroon;
  }
  &--err{
    font-size: $s;
    
  }
}

.post-form{
  max-width:  var(--site-width);
  height: 100vh;
  display: grid;
  padding: 0 var(--layout-padding);
  gap: 0 var(--layout-gap);
  margin: auto 0;
  grid-template-rows:  min-content 1fr min-content;
  
  &__body{
    background: white;
    &--content{
      padding: 2rem;
    }
  }

  &__in{
    border:0;
    display: block;
    &--title{
      &::placeholder{
      font-size: $xl;
      font-weight: $fw-heavy;
      
    }
    }
    
  }

  &__toolbar{ 
    position: sticky;
    top:0;
    background: #f9f9f9;
    padding-right: 4rem, 0;
    overflow-x:auto;

  }
  &__header{
    display:flex;
    align-items: center;
    height: 56px;
    padding: 0 0.5remm;
  }
  &__logo{
    display: block;
  }
  &__field-label{
    color:rgb(23, 23, 23);
    font-weight: 500;
  }
  &__close{
    
    position: absolute;
    right: 0.5rem;
    top:0.5rem;
    margin-left: 0;

  }

}