* {
  font-family: "Open Sans", sans-serif;
}

.body {
  background-color: #c5c5c5;
}

.navbar {
  background-color: #c5c5c5;
  height: 4rem;
  border-bottom: 1px solid #d6d6d7;
  margin-bottom: 1rem;
}

.navbar__left-section {
  margin-left: 2rem;
}

.navbar__logo {
  width: 50px;
}

.navbar__search-bar {
  width: 20rem;
}

.navbar__button {
  width: 7rem;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: .3rem;
  margin-right: 1rem;
  border: 1px solid #3b49df;
}

.navbar__button:hover {
  background-color: #4649df;
  color: #ffffff;
  text-decoration: underline;
}

.navbar__notification-icon {
  width: 30px;
}

.navbar__profile-avatar {
  width: 40px;
  margin: 1rem;
}

.left-aside {
  z-index: 2;
}

.left-aside a {
  text-decoration: none;
  color: #4f4e53;
}

.left-aside h3 {
  font-weight: bold;
  font-size: 16px;
}

.left-aside__social-network:hover {
  background-color: #2416e430;
}

.left-aside .list-grop-item:hover {
  background-color: #7d16e430;
  border-radius: .25rem;
  text-decoration: underline;
  color: #4649df;
}

.left-aside .my-tags__list-item {
  list-style: none;
}

.left-aside .my-tags__list-item:hover {
  background-color: #7d16e430;
  border-radius: .25rem;
  text-decoration: underline;
  color: #4649df;
}

.main a {
  text-decoration: none;
  color: #171717;
  margin: 0 1rem 1rem 0;
}

.main .card-body {
  margin-top: 1rem;
}

.main .cover-container {
  margin-bottom: 1rem;
}

.main .cover-container__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .card {
  margin-bottom: 1rem;
}

.main .card__tittle {
  font-weight: bold;
}

.main .card__tittle:hover {
  color: #4649df;
}

.main .card__post-tittle {
  font-size: 3rem;
  -webkit-transition: ease;
  transition: ease;
}

.main .card__green-bg {
  background-color: rgba(26, 214, 67, 0.1);
  border-color: #1ad643;
  border-radius: .2rem;
}

.main .card__green-bg:hover {
  background-color: rgba(26, 214, 67, 0.584);
}

.main .card__nobg-button {
  background-color: #ffffff;
  border: none;
  margin-top: 1rem;
  font-size: 12px;
}

.main .card__read-button {
  font-size: 10px;
}

.main .card__save-button {
  background-color: #d6d6d7;
  border: none;
  border-radius: .25rem;
  width: 3.5rem;
  font-size: 12px;
}

.main .card__tags {
  background-color: #ffffff;
  border: none;
  border-radius: .5rem;
  margin-right: 1rem;
}

.main .card__btn-aux {
  margin-right: 1rem;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #171717;
}

.main .card__btn-submit {
  margin-right: 1rem;
  background-color: #3b49df;
}

.main .card__username-container h6 {
  font-size: 1.2rem;
  font-weight: bold;
}

.main .card__username-container h6:hover {
  color: #4649df;
}

.main .card__username-container a:hover {
  color: #4649df;
}

.right-aside a {
  text-decoration: none;
  color: #171717;
}

.right-aside a:hover {
  color: #4649df;
}

.right-aside h3 {
  font-weight: bold;
}

.right-aside .card {
  margin-bottom: 1rem;
}

.right-aside .card__tittle {
  color: #4649df;
}

.left-aside-discuss {
  z-index: 2;
}

.left-aside-discuss .btn-group {
  border-radius: 1rem;
}

.left-aside-discuss .btn-group button {
  width: 12rem;
  text-align: start;
  border: none;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .card__post-tittle {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */